<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Actualizar Cliente</title>


    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="css/registro.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/actualizarClientes.js"></script>

</head>

<body>
    <div id="responsive-admin-menu">
        <div id="responsive-menu">
            <div class="menuicon">≡</div>
        </div>

        <div id="logo"></div>

        <!--Menu-->
        <div id="menu">
            <a href="admin.html" title="Dashboard">
                <i class="icon-dashboard"></i>
                <span>Administrador</span>
            </a>
            <a href="consulta.html" title="Listar Usuarios">
                <i class="icon-bullhorn"></i>
                <span>Listar Usuarios</span>
            </a>
            <a href="compras.html" title="Pages">
                <i class="icon-file-alt"></i>
                <span>Listar Compras</span>
            </a>
            <a href="registrar.html" title="Media">
                <i class="fa fa-users"></i>
                <span>Registrar Cliente</span>
            </a>
            <a href="registrar.html" title="Media" class="submenu" name="media-sub">
                <i class="icon-eye-open"></i>
                <span>Registrar Cliente</span>
            </a>
            <!-- Media Sub Menu -->
            <div id="media-sub" style="display: none;">
                <a href="" title="Video Gallery">
                    <i class="icon-film"></i>
                    <span>
                        Video Gallery</span>
                </a>
                <a href="" title="Photo Gallery">
                    <i class="icon-picture"></i>
                    <span>
                        Photo Gallery</span>
                </a>
            </div>
            <!-- Media Sub Menu -->

            <a href="" title="Graph &amp; Charts">
                <i class="icon-bar-chart"></i>
                <span>
                    Graph &amp; Charts</span>
            </a>
            <a href="" title="Listar Uusarios">
                <i class="icon-calendar"></i>
                <span>
                    Events</span>
            </a>

            <a href="" class="submenu" name="other-sub" title="Other Contents">
                <i class="icon-book"></i>
                <span>
                    Other Contents</span>
            </a>
            <!-- Other Contents Sub Menu -->
            <div id="other-sub" style="display: none;">
                <a href="" title="Forms">
                    <i class="icon-list"></i>
                    <span>
                        Forms</span>
                </a>
                <a href="" title="Mail Lists">
                    <i class="icon-list-ul"></i>
                    <span>
                        Mail Lists</span>
                </a>
                <a href="" title="Maps">
                    <i class="icon-map-marker"></i>
                    <span>
                        Maps</span>
                </a>
            </div>
            <!-- Other Contents Sub Menu -->
            <a href="" title="Admin Tools">
                <i class="icon-cogs"></i>
                <span>
                    Admin Tools</span>
            </a>
        </div>
        <!--Menu-->
    </div>

    <!--Formulario de registro cliente -->
    <div ng-controller="GreetingController">
        <div id="form">
            <div id="content-wrapper">
                <form class="form-signin" ng-submit="consultar(id)">
                    <h2 class="form-signin-heading">Ingrese Id para actualizar</h2>
                    <input type="text" class="form-control" ng-model="id" placeholder="id" required="" />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                </form>
            </div>
        </div>
        <div id="form">
            <div id="content-wrapper">
                <form class="form-signin" ng-submit="actualizar(idPersona, nroDocumento, nombre, telefono, direccion, email, idTipoDocumento, nombreDoc, idSexo, nombreSexo)">
                    <h2 class="form-signin-heading">Ingrese Id para actualizar</h2>
                    <input type="text" class="form-control" ng-model="idPersona" ng-value= "posts.idPersona" required="" />
                    <input type="text" class="form-control" ng-model="nroDocumento" ng-value= "posts.nroDocumento" required="" />
                    <input type="text" class="form-control" ng-model="nombre" ng-value= "posts.nombre" required="" />
                    <input type="text" class="form-control" ng-model="telefono" ng-value= "posts.telefono" required="" />
                    <input type="text" class="form-control" ng-model="direccion" ng-value= "posts.direccion" required="" />
                    <input type="text" class="form-control" ng-model="email" ng-value= "posts.email" required="" />
                    <input type="text" class="form-control" ng-model="idTipoDocumento" ng-value= "posts.idTipoDocument.idTipoDocumento" required="" />
                    <input type="text" class="form-control" ng-model="nombreDoc" ng-value= "posts.idTipoDocument.nombreDoc" required="" />
                    <input type="text" class="form-control" ng-model="idSexo" ng-value= "posts.idSexo.idSexo" required="" />
                    <input type="text" class="form-control" ng-model="nombreSexo" ng-value= "posts.idSexo.nombreSexo" required="" />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
<!--ng-value = {{posts.idPersona}}-->