<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Actualizar Cliente</title>


    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="css/actualizarClientes.css">
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/actualizarClientes.js"></script>
         <link rel="stylesheet" type="text/css" href="lib/sweetalert.css">
     <script src="lib/sweetalert.min.js"></script>

</head>

<body>
    <div id="responsive-admin-menu">
        <div id="responsive-menu">
            <div class="menuicon">≡</div>
        </div>

        <div id="logo"></div>

                   <!--Menu-->
		   <div id="menu">
			<a href="admin.html" title="Dashboard">
				<i class="fa fa-home"></i>
				<span>Inicio</span>
            </a>
            <a href="consulta.html" title="Listar Usuarios">           
                <i class="fa fa-list-ol"></i>
                <span>Listar Usuarios</span>
            </a>
			<a href="inicio.html" name="tarjeta-sub" title="Tarjetas">
				<i class="fa fa-sign-out"></i>
				<span>Salir</span>
				<script>
					//localStorage.clear();
				</script>
			</a>
		</div>
		<!--Menu-->
    </div>

    <!--Formulario de registro cliente -->
    <div ng-controller="GreetingController">
        <div id="form">
            <div id="content-wrapper">
                <form class="form-signin" ng-submit="consultar(id)">
                    <label id ="registrarse">Actualizar</label>
                    <label id ="compras">clientes</label>
                    <h2 class="form-signin-heading">Ingrese Id*</h2>
                    <input type="text" class="form-control" ng-model="id" placeholder="id" required="" />
                    <button id="botonEnviar" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                </form>
            </div>
        </div>
        <br>
        <br>
        
        <div id="form">
            <div id="content-wrapper2">
                <form class="form-signin" ng-submit="actualizar(idPersona, nroDocumento, nombre, telefono, direccion, email, idTipoDocumento, nombreDoc, idSexo, nombreSexo)">
                    <h2 class="form-signin-heading"></h2>
                    <input type="text" class="form-control" ng-model="idPersona" ng-value= "posts.idPersona" required="" />
                    <br>
                    <input type="text" class="form-control" ng-model="nroDocumento" ng-value= "posts.nroDocumento" required="" />
                    <br>
                    <input type="text" class="form-control" ng-model="nombre" ng-value= "posts.nombre" required="" />
                    <br>
                    <input type="text" class="form-control" ng-model="telefono" ng-value= "posts.telefono" required="" />
                    <br>
                    <input type="text" class="form-control" ng-model="direccion" ng-value= "posts.direccion" required="" />
                    <br>
                    <input type="text" class="form-control" ng-model="email" ng-value= "posts.email" required="" />
                    <br>
                    <input type="text" class="form-control" ng-model="idTipoDocumento" ng-value= "posts.idTipoDocument.idTipoDocumento" required="" />
                    <br>
                    <input type="text" class="form-control" ng-model="nombreDoc" ng-value= "posts.idTipoDocument.nombreDoc" required="" />
                    <br>
                    <input type="text" class="form-control" ng-model="idSexo" ng-value= "posts.idSexo.idSexo" required="" />
                    <br>
                    <input type="text" class="form-control" ng-model="nombreSexo" ng-value= "posts.idSexo.nombreSexo" required="" />
                    <br>
                    <label id="asteriscos" for="redencionInput">Todos los campos marcados con * son obligatorios</label>
                    <br/>
                    <button id ="botonLimpiar" class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>
     <script>
    function soloLetras(e){
       key = e.keyCode || e.which;
       tecla = String.fromCharCode(key).toLowerCase();
       letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
       especiales = "8-37-39-46";

       tecla_especial = false
       for(var i in especiales){
            if(key == especiales[i]){
                tecla_especial = true;
                break;
            }
        }

        if(letras.indexOf(tecla)==-1 && !tecla_especial){
           
            swal('Importante!', 'Solamente se puede ingresar letras', 'error');
            return false;
        }
    }
function soloNumeros(e){
       key = e.keyCode || e.which;
       tecla = String.fromCharCode(key).toLowerCase();
       letras = " 1234567890";
       especiales = "44-45-46";

       tecla_especial = false
       for(var i in especiales){
            if(key == especiales[i]){
                tecla_especial = true;
                break;
            }
        }

        if(letras.indexOf(tecla)==-1 && !tecla_especial){
           swal('Importante!', 'Solamente se puede ingresar números', 'error');
            return false;
        }
  }
</script>

</html>
<!--ng-value = {{posts.idPersona}}-->