<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <title>Bootstrap Login Form</title>


  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>

  <link rel="stylesheet" href="css/inicio.css">


</head>

<body ng-controller="GreetingController">
  <div class="wrapper">
    <form class="form-signin" ng-submit="login(username, password)">
      <h2 class="form-signin-heading">Sistema Bancario</h2>
      <input type="text" class="form-control" ng-model="username" placeholder="Ingrese su Usuario" required="" autofocus="" />
      <input type="password" class="form-control" ng-model="password" placeholder="Contraseña" required="" />
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe">Olvidó su Contraseña
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src="js/inicio.js"></script>
</body>

</html>