<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Registro Tarjeta</title>


    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="css/registro.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

</head>

<body>
    <div id="responsive-admin-menu">
        <div id="responsive-menu">
            <div class="menuicon">≡</div>
        </div>

        <div id="logo">Banco</div>

        <!--Menu-->
        <div id="menu">
            <a href="admin.html" title="Dashboard">
                <i class="icon-dashboard"></i>
                <span>Administrador</span>
            </a>
            <a href="consulta.html" title="Listar Usuarios">
                <i class="icon-bullhorn"></i>
                <span>Listar Usuarios</span>
            </a>
            <a href="compras.html" title="Pages">
                <i class="icon-file-alt"></i>
                <span>Listar Compras</span>
            </a>
            <a href="registrar.html" title="Media">
                <i class="fa fa-users"></i>
                <span>Registrar Cliente</span>
            </a>
            <a href="registrar.html" title="Media" class="submenu" name="media-sub">
                <i class="icon-eye-open"></i>
                <span>Registrar Cliente</span>
            </a>
            <!-- Media Sub Menu -->
            <div id="media-sub" style="display: none;">
                <a href="" title="Video Gallery">
                    <i class="icon-film"></i>
                    <span>
                        Video Gallery</span>
                </a>
                <a href="" title="Photo Gallery">
                    <i class="icon-picture"></i>
                    <span>
                        Photo Gallery</span>
                </a>
            </div>
            <!-- Media Sub Menu -->

            <a href="" title="Graph &amp; Charts">
                <i class="icon-bar-chart"></i>
                <span>
                    Graph &amp; Charts</span>
            </a>
            <a href="" title="Listar Uusarios">
                <i class="icon-calendar"></i>
                <span>
                    Events</span>
            </a>

            <a href="" class="submenu" name="other-sub" title="Other Contents">
                <i class="icon-book"></i>
                <span>
                    Other Contents</span>
            </a>
            <!-- Other Contents Sub Menu -->
            <div id="other-sub" style="display: none;">
                <a href="" title="Forms">
                    <i class="icon-list"></i>
                    <span>
                        Forms</span>
                </a>
                <a href="" title="Mail Lists">
                    <i class="icon-list-ul"></i>
                    <span>
                        Mail Lists</span>
                </a>
                <a href="" title="Maps">
                    <i class="icon-map-marker"></i>
                    <span>
                        Maps</span>
                </a>
            </div>
            <!-- Other Contents Sub Menu -->
            <a href="" title="Admin Tools">
                <i class="icon-cogs"></i>
                <span>
                    Admin Tools</span>
            </a>
        </div>
        <!--Menu-->
    </div>

    <!--Formulario de registro cliente -->
    <div ng-controller="GreetingController">
        <div id="formRegistrarC">
            <div id="content-wrapper">
                <form ng-submit="registro(nombre, acronimo, tazaInteres, plazoMax, cupoMax, multa, nombreFranquicia)">

                    <label for="acronimo">Nombre</label>
                    <input type="text" ng-model="nombre" class="form-control" name="nombre" placeholder="" />

                    <label for="acronimo">Acronimo</label>
                    <input type="text" ng-model="acronimo" class="form-control" name="acronimo" placeholder="" />

                    <label for="acronimo">Taza de Interes</label>
                    <input type="text" ng-model="tazaInteres" class="form-control" name="tazaInteres" placeholder="" />

                    <label for="acronimo">Plazo</label>
                    <input type="text" ng-model="plazoMax" class="form-control" name="plazoMax" placeholder="" />

                    <label for="acronimo">Cupo Maximo</label>
                    <input type="text" ng-model="cupoMax" class="form-control" name="cupoMax" placeholder="" />

                    <label for="acronimo">Multa</label>
                    <input type="text" ng-model="multa" class="form-control" name="multa" placeholder="" />

                    <!--Aca esta seleccion de franquicias -->

                    <div class="diNombreFranquicia">
                        <label for="FranquiciaInput">Franquicia</label>
                        <select class="selectpicker form-control" ng-model="nombreFranquicia" name="nombreFranquicia">
                            <option ng-repeat="x in franquicias">{{ x.nombre }}</option>
                        </select>
                    </div>

                    <br/>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Enviar" id="botonEnviar">Enviar</button>
                    <button class="btn btn-lg btn-primary btn-block" type="reset" value="Limpiar Campos" id="botonLimpiar">Limpiar Campos</button>
                </form>
            </div>
        </div>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script src="js/registroTarjeta.js"></script>
    </div>
</body>

</html>