<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cursos en Linea</title>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
</head>

<body ng-controller="GreetingController">
    <div id="formRegistrarC">
        <form ng-submit="registro(id, name, type, number, gender, telephone, email, address)">
            <label for="idUsuario">ID</label>
            <input type="number" ng-model="id" class="form-control" name="idUsuario" id="idUsuario" value="0">
            <br>
            <br>
            <label for="idUsuario">Nombre</label>
            <input type="text" ng-model="name" class="form-control" name="primerNombre" placeholder="Nombre" />
            <br>
            <br>
            <div class="divRedencion">
                <label for="tipodocumento">Tipo de Documento</label>
                <select class="selectpicker form-control" ng-model="type" name="tipodocumento">
                    <option>Cédula</option>
                    <option>Tarjeta de Identidad</option>
                </select>
            </div>
            <br/>
            <br/>
            <label for="idUsuario">Numero de documento</label>
            <input type="number" ng-model="number" class="form-control" name="numeroDocumento" placeholder="Numero Documento" />
            <br/>
            <br/>
            <div class="divRedencion">
                <label for="redencionInput">Sexo</label>
                <select class="selectpicker form-control" ng-model="gender" name="sexo">
                    <option>M</option>
                    <option>F</option>
                </select>
            </div>
            <br/>
            <br/>
            <label for="redencionInput">Telefono</label>
            <input type="number" ng-model="telephone" class="form-control" name="telefono" placeholder="Telefono" />
            <br/>
            <br/>
            <label for="redencionInput">Correo</label>
            <input type="email" class="form-control" ng-model="email" name="correo" placeholder="Correo" />
            <br/>
            <br/>
            <label for="redencionInput">Dirección</label>
            <input type="text" class="form-control" ng-model="address" name="direccion" placeholder="direccion" />
            <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Enviar" id="botonEnviar">Enviar</button>
            <button class="btn btn-lg btn-primary btn-block" type="reset" value="Limpiar Campos" id="botonLimpiar">Limpiar Campos</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="js/registrar.js"></script>
</body>

</html>